
.layout {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 100vh;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

.table__container {
    display: grid;
    margin: 0 auto; 
    justify-content: space-around;
  }
  
  .table__header {
    padding: 10px;
    font-weight: bold;
    background-color:white;
    color: black;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  .table__row {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  .table__container .table__row:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  .table__container .table__row:nth-child(even) {
    background-color: #fff;
  }

  tr, td {
    padding: 10px;
  }
  