:root {
    --krasivoe:  #f8d6e1;
    --seryi:  #323232;
    --svetGranitsi: #d1a7b3;
}
[data-tooltip]:after {
    background-color: var(--krasivoe);
    color: var(--seryi);
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    border: 1px solid var(--svetGranitsi);
    min-width: 40px;
}

[data-tooltip].simptip-position-top:after {
    background-color: var(--krasivoe);
    color: var(--seryi);
}
[data-tooltip].simptip-position-bottom:after {
    background-color: var(--krasivoe);
    color: var(--seryi);
}
[data-tooltip].simptip-position-left:after {
    background-color: var(--krasivoe);
    color: var(--seryi);
}
[data-tooltip].simptip-position-right:after {
    background-color: var(--krasivoe);
    color: var(--seryi);
}
